%title NULEISK
%link{ :rel => "shortcut icon", :href => "/images/favicon.ico", :type => "image/x-icon" }/
%link{ :rel => "icon", :href => "/images/favicon_animated.gif", :type => "image/gif" }/
%meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }/
%meta{ :name => "description", :content => "Nuleisk, nusileisk, nuleisti, nusileisti, go down, slow down, zemelapis, zemelapiai, map, viskas apie nuleidimus" }/
%meta{ :name => "keywords", :content => "Nuleisk, nusileisk, nuleisti, nusileisti, go down, slow down, zemelapis, zemelapiai, map, " }/
%meta{ :"http-equiv" => "description", :content => "Nuleisk, nusileisk, nuleisti, nusileisti, go down, slow down, zemelapis, zemelapiai, map, viskas apie nuleidimus" }/
%meta{ :"http-equiv" => "keywords", :content => "Nuleisk, nusileisk, nuleisti, nusileisti, go down, slow down, zemelapis, zemelapiai, map, " }/
%meta{ :"http-equiv" => "Pragma", :content => "no-cache" }/
%meta{ :"http-equiv" => "Cache-Control", :content => "no-cache" }/
%meta{ :"http-equiv" => "Content-Language", :content => "Lithuanian" }/
%meta{ :name => "robots", :content => "index" }/
%meta{ :name => "revisit-after", :content => "2" }/
%meta{ :name => "copyright", :content => "Vygantas Sliogeris" }/
%meta{ :name => "author", :content => "Vygantas Sliogeris &amp; Google's Maps" }/

=css_include_tag "all" 

=js_include_tag("http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
=js_include_tag("http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js")
=js_include_tag("http://maps.google.com/maps/api/js?sensor=false")
=js_include_tag("application")
=js_include_tag("events")
