body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ""; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

input, textarea, select {
  *font-size: 100%; }

legend {
  color: black; }

html {
  height: 100%;
  color: #252525;
  background-color: white;
  font-family: Arial, Geneva, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden; }

h1, h2, h3, h4, h5, h6 {
  color: #aa2222;
  font-size: 26px;
  font-weight: bold; }

h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px; }

a {
  color: #22aa22;
  text-decoration: none;
  font-weight: bold; }

#map {
  width: 100%;
  height: 100%;
  background-color: rgba(66, 66, 66, 0.3); }

.menu {
  width: 300px;
  height: auto;
  top: 20px;
  left: 100px;
  padding: 20px 20px 30px 20px;
  background-color: rgba(16, 16, 16, 0.4);
  position: absolute;
  z-index: 1;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 20px black;
  -moz-box-shadow: 0 0 20px black;
  box-shadow: 0 0 20px black;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #33eeee;
  font-weight: bold;
  font-size: 18px;
  text-shadow: 0 1px 1px black; }
  .menu:hover {
    background-color: rgba(16, 16, 16, 0.45); }
  .menu h1 {
    color: #ff3333; }
  .menu a {
    color: #33ee88; }

.search {
  bottom: 20px;
  right: 15px;
  padding: 5px;
  background-color: rgba(16, 16, 16, 0.4);
  position: absolute;
  z-index: 1;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  border-radius: 24px;
  -webkit-box-shadow: 0 0 10px black;
  -moz-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  color: #33eeee;
  font-size: 16px;
  text-shadow: 0 1px 1px black; }
  .search input, .search button {
    -webkit-box-shadow: 0 0 10px black inset;
    -moz-box-shadow: 0 0 10px black inset;
    box-shadow: 0 0 10px black inset;
    font-size: 17px; }
  .search input {
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    width: 300px;
    height: 28px;
    padding: 0 15px;
    line-height: 28px;
    font-size: 16px;
    vertical-align: middle;
    border: none; }
  .search button {
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    height: 32px;
    width: 32px;
    color: #880000;
    background-color: #eeffff;
    line-height: 26px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 17px;
    border: none;
    cursor: pointer;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    text-indent: 0;
    text-align: center;
    text-overflow: ellipsis !important;
    overflow: hidden;
    white-space: nowrap;
    border: none; }

button:hover {
  -webkit-box-shadow: 0 0 12px black inset;
  -moz-box-shadow: 0 0 12px black inset;
  box-shadow: 0 0 12px black inset;
  color: #aa2222; }

.search > div.fixer {
  margin-top: 2px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  float: left;
  width: auto;
  height: auto;
  overflow: hidden; }
  .search > div.fixer.button {
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    margin-top: 0px;
    margin-left: 3px; }

button::selection {
  background: white;
  outline: none; }
button:active, button:focus {
  outline: none; }
button::-moz-focus-inner {
  border: none;
  padding: 0;
  outline: none; }
button:hover {
  outline: none; }
