%div{:id=>'map'}
  <div class="menu">
    <h1>Nuleisk LT</h1>
    <a href="http://saviakas.blogspot.com/" title="Vyganto blogas">Autoriaus blogas</a><br /> 
	  <a href="http://web.sliogeris.com/" title="Vyganto: web sprendimai ir paslaugos">WEB sprendimai</a><br/> 
	  <a href="http://www.e-partija.lt" title="E-Partija">E-partija</a>
  </div>
  <div class="search">
    <div class="fixer"><input type="text" id="search_input" value="Lithuania" /></div>
    <div class="fixer button"><button id="search" type="button">S</button></div>
  </div>

